/* Reset CSS */
@font-face {
  font-family: DFVN;
  src: url(../font/DFVNMBFSpaceHabitat/OpenType-PS/DFVN\ MBF\ Space\ Habitat\ Regular.otf);
}
@font-face {
  font-family: SVN-Gilroy;
  src: url(../font/FontGilroyVHFull/SVN-Gilroy\ Regular.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
b,
u,
i,
center,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td,
article,
aside,
canvas,
details,
embed,
figure,
figcaption,
footer,
header,
hgroup,
menu,
nav,
output,
ruby,
section,
summary,
time,
mark,
audio,
video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  vertical-align: baseline;
}
article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
  display: block;
}
body {
  line-height: 1;
}
ol,
ul {
  list-style: none;
}
a {
  text-decoration: none;
}
blockquote,
q {
  quotes: none;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
  content: none;
}
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* End Reset CSS */

body {
  overflow: hidden; /* Ẩn cuộn trang khi loading */
}
#loading {
  position: fixed;
  width: 100%;
  height: 100%;
  background: #fff; /* Màu nền của loading */
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 9999; /* Đảm bảo loading nằm trên cùng */
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid rgba(0, 0, 0, 0.1);
  border-top: 5px solid #333;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

@keyframes spin {
  0% {
      transform: rotate(0deg);
  }
  100% {
      transform: rotate(360deg);
  }
}
#dxt_main_body {
  display: none;
}
header {
  display: none;
}
#dxt_main_body img {
  max-width: 100%;
}

.dxt-btn {
  padding: 8px 30px;
  border-radius: 8px;
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
}
.dxt-btn-noback {
  background: transparent;
  border: 1px solid #fff;
}
.dxt-btn-noback:hover {
  border: 1px solid var(--Logo-Red, #811643);
  background-color: #fff;
}
.dxt-btn-noback:hover button {
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.dxt-btn button {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: none;
  background-color: transparent;
}

.dxt-header {
  background: url(../img/header-bg.png) lightgray 0px 0.178px / 100% 128.51%
    no-repeat;
  padding: 100px 0;
}
.dxt-header .header-top {
  height: 86px;
  width: 100%;
  background: #121736;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 999999;
}

nav {
  height: 100%;
  gap: 13%;
}
#navbarNav {
  justify-content: space-between;
}
.navbar-nav {
  display: flex;
  gap: 60px;
}
.navbar-nav .nav-item .nav-link {
  font-family: "Open Sans", sans-serif;
  color: #fff;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
.nav-item {
  position: relative;
}
.nav-item:hover .nav-link,
.nav-item:active .nav-link {
  color: #bab8ff;
}
.nav-item:hover .submenu,
.nav-item:active .submenu {
  display: block;
}
.submenu {
  position: absolute;
  top: 35px;
  left: 0;
  min-width: 200px;
  padding: 12px 20px;
  display: none;
  border-radius: 8px;
  border: 1px solid #6a88b6;
  background: #121736;
}
.submenu li {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 600;
  line-height: 40px;
}
.submenu li a {
  color: inherit;
}
.submenu li:hover,
.submenu li:active {
  color: #bab8ff;
  cursor: pointer;
}

/* line effect */

a.lineeffect {
  position: relative;
  overflow: hidden;
  display: inline-block;
  text-decoration: none;
  color: #fff;
}

a.lineeffect:after {
  content: "";
  position: absolute;
  bottom: 0;
  left: -100%;
  width: 100%;
  height: 3px;
  background: #fff;
  transition: left 0.8s;
}

a.lineeffect:hover:after {
  left: 0;
}

.dxt-header .header-content {
  padding-top: 100px;
  color: #fff;
  text-align: center;
}

.dxt-header .header-content .main-content .container {
  /* padding: 0 100px; */
  display: flex;
  flex-direction: column;
  gap: 32px;
}
.dxt-header .header-content .main-content .slogan {
  color: #fff;
  text-align: center;

  /* Shadow 1 */
  text-shadow: -4px -4px 20px rgba(255, 255, 255, 0.3),
    4px 4px 20px rgba(120, 134, 255, 0.4), 4px 4px 20px rgba(255, 255, 255, 0.3);
  -webkit-text-stroke-width: 1;
  -webkit-text-stroke-color: #abb8ff;
  font-family: "DFVN";
  font-size: 60px;
  font-style: normal;
  font-weight: 400;
  line-height: 120%; /* 72px */
}
.dxt-header .header-content .main-content .sub-slogan {
  color: #fff;
  text-align: center;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 27px */
}
.dxt-header .header-content .main-content .btn-part {
  display: flex;
  justify-content: center;
  gap: 24px;
}
.dxt-header .header-content .partner {
}

.partner-title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-top: 80px;
}
.list-partner {
  display: flex;
  gap: 44px;
  justify-content: center;
  align-items: center;
  margin-top: 24px;
  flex-wrap: wrap;
}
#dxt_main_body {
  background-image: url(../img/main_background3.png);
  background-repeat: no-repeat;
  background-size: cover;
}

#dxt_about {
  padding: 50px 0;
}
.dxt-pin {
  display: flex;
  width: 200px;
  padding: 12px 24px;
  justify-content: center;
  align-items: center;
  border-radius: 50px;
  border: 2px solid var(--Gradient-Purple, #282663);
  background: rgba(255, 255, 255, 0.1);
  color: #fff;
  font-family: SVN-Gilroy;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 30px */
  margin-bottom: 12px;
}

.dxt-title {
  color: #fff;
  font-family: SVN-Gilroy;
  font-size: 40px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 60px */
}
.title-and-button {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 40px;
}
.about-box {
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: var(--Main-Background, rgba(207, 212, 255, 0.1));
  height: 244px;
}
.about-box:hover,
.tech-box:hover {
  cursor: pointer;
  background: rgba(207, 212, 255, 0.6);
}
.about-box-title {
  color: #fff;

  /* Title/Bold */
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-top: 16px;
  margin-bottom: 12px;
}
.about-box-des {
  color: #fff;

  /* Body/Regular */
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}

.about-box img,
.tech-box img {
  max-width: 100%;
}

#dxt_tech {
  padding: 50px 0;
}
.tech-box {
  height: 500px;
  padding: 24px;
  border-radius: 20px;
  border: 1px solid rgba(255, 255, 255, 0.6);
  background: rgba(207, 212, 255, 0.1);
  display: flex;
  flex-direction: column;
}
.tech-box-img {
  margin-top: auto;
}
.tech-box-title {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 24px;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 36px */
  margin-bottom: 12px;
}
#dxt_products {
  padding: 100px 0;
}
.list-products {
  display: flex;
  gap: 20px;
  color: #fff;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
  flex-wrap: wrap;
}
.product-btn-part {
  display: flex;
  gap: 10px;
  margin-top: 40px;
}
.product-des {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.product-content {
  display: none;
}
.product-click {
  display: flex;
  padding: 8px 24px;
  justify-content: center;
  align-items: center;
  gap: 4px;
  border-radius: 25px;
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  border: 1px solid #fff;
  min-width: 212px;
  min-height: 48px;
}
.product-click:hover,
.product-click:active {
  cursor: pointer;
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
}
.product-active {
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
}

#dxt_customers {
  padding: 100px 0;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  background: rgba(207, 212, 255, 0.1);
}
.customer-des {
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
  color: #fff;
}

.feedback-box {
  padding: 60px 32px;
  border-radius: 20px;
  background: #fff;
  display: flex;
  gap: 32px;
  flex-direction: column;
}

.feedback-info {
  display: flex;
  gap: 16px;
}
.feedback-name {
  color: #000;
  font-size: 20px;
  font-style: normal;
  font-weight: 700;
  line-height: 140%; /* 28px */
  font-family: "Open Sans", sans-serif;
}
.feedback-company {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 300;
  line-height: 140%; /* 22.4px */
}
.feedback-detail {
  color: #000;
  font-family: "Open Sans", sans-serif;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */
}
.arrow-part {
  display: flex;
  gap: 32px;
  margin-top: 40px;
}
.arrow-part img {
  max-width: 100%;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
}
.arrow-part img:hover,
.arrow-part img:active {
  background-color: #3a3c40;
  cursor: pointer;
}
#dxt_trial_register {
  padding: 100px 0;
}
.form-input input,
.form-input textarea {
  border-radius: 12px;
  border: 1px solid #fff;
  background: rgba(207, 212, 255, 0.1) !important;
  color: #fff !important;
  font-size: 16px;
  font-style: normal;
  font-weight: 400;
  line-height: 140%; /* 22.4px */
  font-family: "Open Sans", sans-serif;
  padding: 10px 20px;
}
input::placeholder,
textarea::placeholder {
  color: #fff !important;
}
#footer {
  padding: 100px 0;
}
.footer-logoes {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
}
footer .verical-line {
  border-left: 1px solid #fff;
}
footer .column-head {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
  margin-bottom: 24px;
  margin-top: 32px;
}
footer .column-content {
  color: #fff;
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}
footer .column-content ul {
  display: flex;
  flex-direction: column;
  gap: 28px;
}
footer .column-content ul li {
  display: flex;
  gap: 12px;
  align-items: center;
}
.list-social-media {
  display: flex;
  gap: 24px;
  margin-top: 60px;
}

/* responsive */
/* Màn hình to */
@media screen and (min-width: 1550px) {
  .dxt-header {
    height: 100vh;
  }
  .dxt-header .header-content .main-content .container {
    gap: 50px;
  }
  .tech-box {
    height: 550px;
  }
}

@media screen and (max-width: 1000px) {
  .navbar {
    display: flex;
    flex-direction: row-reverse;
  }
  .navbar-collapse {
    background: #ccc;
    padding: 20px 20px;
  }
  .navbar-collapse a {
  }
}

/* Responsive */
/*Ipad ngang(1024 x 768)*/
@media screen and (max-width: 1024px) {
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  .dxt-title {
    font-size: 24px;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
  .dxt-title {
    font-size: 20px;
  }
  .dxt-btn {
    width: 100%;
  }
  .dxt-header .header-content .main-content {
    padding: 0;
  }
  .dxt-header .header-content {
    padding-top: 20px;
  }
  .dxt-header .header-content .main-content .slogan {
    font-size: 40px;
  }
  .title-and-button {
    flex-direction: column;
    align-items: center;
    gap: 20px;
  }
  .about-box {
    height: auto;
  }
  .dxt-btn-box {
    width: 100% !important;
    text-align: center;
  }
  .dxt-btn-box .dxt-btn {
    width: 100% !important;
  }
  .dxt-pin {
    width: 100%;
  }
}

/* Hover BTN */
::before,
::after {
  position: absolute;
  content: "";
}

.btnn {
  position: relative;
  display: inline-block;
  background: #fff;
  cursor: pointer;
}
.btnn span {
  position: relative;
  display: inline-block;
  transition: 0.3s;
  padding: 6px 12px;
}

.dxt-btn::before {
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
  transition: 0.3s ease-out;
}

.dxt-btn span {
  transition: 0.2s 0.1s;
}
.dxt-btn:hover span {
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.2s 0.1s;
}

/* 4. hover-filled-slide-right */
.btnn.hover-filled-slide-right::before {
  top: 0;
  bottom: 0;
  right: 0;
  height: 100%;
  width: 100%;
  border-radius: 6px;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
}
.btnn.hover-filled-slide-right:hover::before {
  width: 0%;
}

/*  */

.slide-bottom-to-show {
  animation: slide-bottom-to-show 1s linear forwards;
  -webkit-animation: slide-bottom-to-show 1s linear forwards;
}
@keyframes slide-bottom-to-show {
  0% {
    transform: translateY(300px);
    opacity: 0;
    -webkit-transform: translateY(300px);
    -moz-transform: translateY(300px);
    -ms-transform: translateY(300px);
    -o-transform: translateY(300px);
  }
  100% {
    transform: translateY(0px);
    opacity: 1;
    -webkit-transform: translateY(0px);
    -moz-transform: translateY(0px);
    -ms-transform: translateY(0px);
    -o-transform: translateY(0px);
  }
}
