/* Reset CSS */
@font-face {
  font-family: DFVN;
  src: url(../font/DFVNMBFSpaceHabitat/OpenType-PS/DFVN\ MBF\ Space\ Habitat\ Regular.otf);
}
@font-face {
  font-family: SVN-Gilroy;
  src: url(../font/FontGilroyVHFull/SVN-Gilroy\ Regular.otf);
}
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap");
:root {
  --bs-font-monospace: inherit;
  --bs-font-sans-serif: inherit;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
$section_padding: 5rem 0;
html {
  font-size: 62.5%;
  font-family: "Open Sans";
}
img {
  max-width: 100%;
}
ul {
  padding: 0;
  margin: 0;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
  color: inherit;
}
body {
  padding-top: 8rem;
}

// Navigation Header

nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  height: 8rem;
  background: #121736;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  z-index: 99;
}
nav .navbar {
  height: 100%;
  max-width: 125rem;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin: auto;
  /* background: red; */
  padding: 0 5rem;
}
.navbar .logo a {
  font-size: 3rem;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}
nav .navbar .nav-links {
  line-height: 8rem;
  height: 100%;
}
nav .navbar .links {
  display: flex;
}
nav .navbar .links li {
  position: relative;
  display: flex;
  align-items: center;
  justify-content: space-between;
  list-style: none;
  padding: 0 1.4rem;
  &:hover > a {
    color: #bab8ff;
  }
}
nav .navbar .links li a {
  height: 100%;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  font-size: 1.8rem;
  font-family: "Open Sans";
  font-weight: 600;
}
.links li:hover .htmlcss-arrow,
.links li:hover .js-arrow {
  transform: rotate(180deg);
}

nav .navbar .links li .arrow {
  /* background: red; */
  height: 100%;
  width: 2.2rem;
  line-height: 8rem;
  text-align: center;
  display: inline-block;
  color: #fff;
  transition: all 0.3s ease;
}
nav .navbar .links li .sub-menu {
  position: absolute;
  top: 8rem;
  left: 0;
  line-height: 4rem;
  box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2);
  display: none;
  z-index: 2;
  padding: 1.2rem 0;
  flex-direction: column;
  align-items: flex-start;
  border-radius: 8px;
  border: 1px solid #6a88b6;
  background: #121736;
}
nav .navbar .links li:hover .htmlCss-sub-menu,
nav .navbar .links li:hover .js-sub-menu {
  display: block;
}
.navbar .links li .sub-menu li {
  padding: 0 2.2rem;
  &:hover a {
    color: #bab8ff;
    width: 100%;
    cursor: pointer;
  }
}
.navbar .links li .sub-menu a {
  color: #fff;
  font-size: 1.5rem;
  font-weight: 500;
}
.navbar .links li .sub-menu .more-arrow {
  line-height: 4rem;
}
.navbar .links li .htmlCss-more-sub-menu {
  /* line-height: 40px; */
}
.navbar .links li .sub-menu .more-sub-menu {
  position: absolute;
  top: 0;
  left: 100%;
  border-radius: 0 4px 4px 4px;
  z-index: 1;
  display: none;
}
.links li .sub-menu .more:hover .more-sub-menu {
  display: block;
}

.navbar .nav-links .sidebar-logo {
  display: none;
}
.navbar .bx-menu {
  display: none;
}
@media (max-width: 920px) {
  nav .navbar {
    max-width: 100%;
    padding: 0 2.5rem;
  }

  nav .navbar .logo a {
    font-size: 2.7rem;
  }
  nav .navbar .links li {
    padding: 0 1rem;
    white-space: nowrap;
  }
  nav .navbar .links li a {
    font-size: 1.5rem;
  }
}
@media (max-width: 800px) {
  nav {
    /* position: relative; */
  }
  .navbar .bx-menu {
    display: block;
  }
  nav .navbar .nav-links {
    position: fixed;
    top: 0;
    left: -100%;
    display: block;
    max-width: 27rem;
    width: 100%;
    background: #3e8da8;
    line-height: 4rem;
    padding: 2rem;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
    transition: all 0.5s ease;
    z-index: 1000;
  }
  .navbar .nav-links .sidebar-logo {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .sidebar-logo .logo-name {
    font-size: 2.5rem;
    color: #fff;
  }
  .sidebar-logo i,
  .navbar .bx-menu {
    font-size: 2.5rem;
    color: #fff;
  }
  nav .navbar .links {
    display: block;
    margin-top: 2rem;
  }
  nav .navbar .links li .arrow {
    line-height: 4rem;
  }
  nav .navbar .links li {
    display: block;
  }
  nav .navbar .links li .sub-menu {
    position: relative;
    top: 0;
    box-shadow: none;
    display: none;
  }
  nav .navbar .links li .sub-menu li {
    border-bottom: none;
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
    position: relative;
    left: 0;
  }
  .navbar .links li .sub-menu .more-sub-menu li {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .links li:hover .htmlcss-arrow,
  .links li:hover .js-arrow {
    transform: rotate(0deg);
  }
  .navbar .links li .sub-menu .more-sub-menu {
    display: none;
  }
  .navbar .links li .sub-menu .more span {
    /* background: red; */
    display: flex;
    align-items: center;
    /* justify-content: space-between; */
  }

  .links li .sub-menu .more:hover .more-sub-menu {
    display: none;
  }
  nav .navbar .links li:hover .htmlCss-sub-menu,
  nav .navbar .links li:hover .js-sub-menu {
    display: none;
  }
  .navbar .nav-links.show1 .links .htmlCss-sub-menu,
  .navbar .nav-links.show3 .links .js-sub-menu,
  .navbar .nav-links.show2 .links .more .more-sub-menu {
    display: block;
  }
  .navbar .nav-links.show1 .links .htmlcss-arrow,
  .navbar .nav-links.show3 .links .js-arrow {
    transform: rotate(180deg);
  }
  .navbar .nav-links.show2 .links .more-arrow {
    transform: rotate(90deg);
  }
}
@media (max-width: 370px) {
  nav .navbar .nav-links {
    max-width: 100%;
  }
}

// Button chung
.dxt-primary-btn {
  display: flex;
  padding: 1.2rem 3.2rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  background: var(
    --Logo-Red,
    linear-gradient(90deg, #811643 0%, #ec2224 99.99%)
  );
  color: var(--Backgrounds-Primary, #fff);
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
.dxt-second-btn {
  display: flex;
  padding: 1.2rem 3rem;
  justify-content: center;
  align-items: center;
  border-radius: 8px;
  border: 1px solid #fff;
  color: var(--Backgrounds-Primary, #fff);
  font-size: 1.8rem;
  font-weight: 700;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}
// mb40
.mb40 {
  margin-bottom: 4rem;
}
// Title
.dxt-title {
  color: var(--Backgrounds-Primary, #fff);
  font-family: SVN-Gilroy;
  font-size: 4.6rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%; /* 69px */
}
.dxt-pin {
  display: inline-block;
  padding: 1.2rem 2.4rem;
  border-radius: 5rem;
  border: 2px solid var(--Gradient-Purple, #282663);
  background: rgba(255, 255, 255, 0.1);
  color: var(--Backgrounds-Primary, #fff);
  font-family: SVN-Gilroy;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 150%;
  margin-bottom: 2rem;
  -webkit-border-radius: 5rem;
  -moz-border-radius: 5rem;
  -ms-border-radius: 5rem;
  -o-border-radius: 5rem;
}
.dxt-title-row {
  display: flex;
  justify-content: space-between;
  align-items: end;
  margin-bottom: 4rem;
  .dxt-title {
    width: 80%;
  }
  .dxt-primary-btn {
    width: 12%;
  }
}
// Text defalut
.text-default {
  overflow: hidden;
  color: var(--Backgrounds-Primary, #fff);
  text-overflow: ellipsis;
  font-size: 1.6rem;
  font-style: normal;
  font-weight: 400;
  line-height: 150%; /* 24px */

  display: -webkit-box;
  -webkit-box-orient: vertical;
  -webkit-line-clamp: 5;
}
// Header

header {
  background-image: url(../img/header-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 100vh;
  justify-content: center;
  align-items: center;
  .container {
    display: flex;
    flex-direction: column;
    .slogan {
      color: var(--Backgrounds-Primary, #fff);
      text-align: center;

      /* Shadow 1 */
      text-shadow: -4px -4px 20px rgba(255, 255, 255, 0.3),
        4px 4px 20px rgba(120, 134, 255, 0.4),
        4px 4px 20px rgba(255, 255, 255, 0.3);
      -webkit-text-stroke-width: 1;
      -webkit-text-stroke-color: #abb8ff;
      font-family: "DFVN";
      font-size: 6rem;
      font-weight: 400;
      line-height: 120%; /* 72px */
      margin-bottom: 3.2rem;
    }
    .slogan-sub {
      color: var(--Backgrounds-Primary, #fff);
      text-align: center;
      font-size: 1.8rem;
      font-weight: 400;
      line-height: 150%; /* 27px */
      margin-bottom: 3.2rem;
    }
    .list-btn {
      display: flex;
      gap: 2.4rem;
      justify-content: center;
      align-items: center;
    }
    .header-partner {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      margin-top: 12rem;
      .title {
        color: var(--Backgrounds-Primary, #fff);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        margin-bottom: 2.4rem;
      }
      .list-partner {
        display: flex;
        gap: 2rem;
        flex-wrap: wrap;
        justify-content: center;
      }
    }
  }
}
.main {
  background-image: url(../img/homepage-background.png);
  background-repeat: no-repeat;
  background-size: cover;
  section {
    position: relative;
  }
  position: relative;
  .img-homebackground {
    position: absolute;
    left: 0;
    top: 0;
  }
  #dxt_produce {
    padding: $section_padding;
    .produce-box {
      display: flex;
      padding: 2.4rem;
      height: 100%;
      flex-direction: column;
      align-items: flex-start;
      gap: 1rem;
      flex: 1 0 0;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      background: var(--Main-Background, rgba(207, 212, 255, 0.1));
      &:hover {
        background: rgba(207, 212, 255, 0.6);
        cursor: pointer;
      }
      .produce-name {
        color: var(--Backgrounds-Primary, #fff);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
      }
      .produce-des {
        color: var(--Backgrounds-Primary, #fff);
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
      }
    }
  }
  #dxt_tech {
    padding: $section_padding;
    .tech-box {
      display: flex;
      padding: 2.4rem;
      flex-direction: column;
      justify-content: space-between;
      align-items: flex-start;
      align-self: stretch;
      border-radius: 20px;
      border: 1px solid rgba(255, 255, 255, 0.6);
      background: rgba(207, 212, 255, 0.1);
      height: 100%;
      &:hover {
        background: rgba(207, 212, 255, 0.6);
        cursor: pointer;
      }
      .tech-name {
        color: var(--Backgrounds-Primary, #fff);
        font-size: 2.4rem;
        font-style: normal;
        font-weight: 700;
        line-height: 150%; /* 36px */
        margin-bottom: 2rem;
      }
      .tech-des {
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        align-self: stretch;
        overflow: hidden;
        color: var(--Backgrounds-Primary, #fff);
        text-overflow: ellipsis;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        margin-bottom: 5rem;
      }
      img {
        margin-top: auto;
      }
    }
  }
  #dxt_our_product {
    padding: $section_padding;
    .list-solution {
      display: flex;
      gap: 3rem;
      justify-content: center;
      align-items: center;
      margin-bottom: 4rem;
      .solution-click {
        display: flex;
        height: 5rem;
        padding: 0.8rem 2.4rem;
        justify-content: center;
        align-items: center;
        gap: 0.4rem;
        border-radius: 25px;
        border: 1px solid var(--Backgrounds-Primary, #fff);
        color: var(--Backgrounds-Primary, #fff);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
        &:hover,
        &:active {
          cursor: pointer;
          background: var(
            --Gradient-Purple,
            linear-gradient(0deg, #282663 0%, #a4a0ff 100%)
          );
          border: none;
        }
      }
      .solution-active {
        background: var(
          --Gradient-Purple,
          linear-gradient(0deg, #282663 0%, #a4a0ff 100%)
        );
        border: none;
      }
    }
    .solution-content {
      display: none;
      .list-btn {
        display: flex;
        gap: 2.4rem;
        margin-top: 4rem;
        a {
          width: 19rem;
        }
      }
    }
  }
  #dxt_feedback {
    padding: $section_padding;
    border-top: 1px solid var(--Backgrounds-Primary, #fff);
    border-bottom: 1px solid var(--Backgrounds-Primary, #fff);
    background: rgba(207, 212, 255, 0.1);
    .feedback-des {
      display: -webkit-box;
      -webkit-box-orient: vertical;
      -webkit-line-clamp: 2;
      overflow: hidden;
      color: var(--Backgrounds-Primary, #fff);
      text-overflow: ellipsis;
      font-family: "Open Sans";
      font-size: 1.6rem;
      font-style: normal;
      font-weight: 400;
      line-height: 150%; /* 24px */
      margin-bottom: 4rem;
    }
    .carousel-indicators {
      position: relative;
      display: flex;
      margin: 0;
      justify-content: left;
    }

    .carousel-indicators .indicator {
      width: 3rem;
      /*Chiềurộngcủathanhngang*/
      height: 0.5rem;
      /*Chiềucaocủathanhngang*/
      background-color: #727272;
      margin: 0 0.5rem;
      cursor: pointer;
      border-radius: 0.8rem;
      -webkit-border-radius: 0.8rem;
      -moz-border-radius: 0.8rem;
      -ms-border-radius: 0.8rem;
      -o-border-radius: 0.8rem;
    }

    .carousel-indicators .indicator.active {
      background-color: #fff;
      width: 6rem;
    }
    .arrow-part {
      margin-top: 4rem;
      display: flex;
      gap: 2rem;
      img:hover {
        background-color: #ccc;
        border-radius: 50%;
        opacity: 0.8;
        cursor: pointer;
        -webkit-border-radius: 50%;
        -moz-border-radius: 50%;
        -ms-border-radius: 50%;
        -o-border-radius: 50%;
      }
    }
    .feedback-box {
      border-radius: 20px;
      background: var(--Backgrounds-Primary, #fff);
      padding: 6rem 3.2rem;
      gap: 3.2rem;
      display: flex;
      flex-direction: column;
      .feedback-detail {
        display: flex;
        align-items: center;
        gap: 1.6rem;
        .name {
          color: #000;
          font-size: 2rem;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 28px */
        }
        .company {
          color: #000;
          font-size: 1.6rem;
          font-style: normal;
          font-weight: 300;
          line-height: 140%; /* 22.4px */
        }
      }
      .feedback-text {
        overflow: hidden;
        color: #000;
        text-overflow: ellipsis;
        font-size: 1.6rem;
        font-style: normal;
        font-weight: 400;
        line-height: 150%; /* 24px */
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 3;
        align-self: stretch;
      }
    }
  }
  .dxt_form_register {
    padding: 5rem 5rem;
    .form-box {
      background-image: url(../img/form-register-background.png);
      background-size: cover;
      background-repeat: no-repeat;
      padding: 6rem 0;
      form {
        .title {
          color: var(--Backgrounds-Primary, #fff);
          text-align: center;
          font-family: SVN-Gilroy;
          font-size: 4rem;
          font-style: normal;
          font-weight: 700;
          line-height: 140%; /* 56px */
          margin-bottom: 4rem;
        }
        .form-row {
          margin-bottom: 3rem;
          input,
          textarea {
            padding: 1rem;
            border-radius: 12px;
            background: var(--Backgrounds-Primary, #fff);
            color: var(--Basic-en, #2c2c2c);
            font-size: 1.6rem;
            font-style: normal;
            font-weight: 400;
            padding-left: 2rem;
            line-height: 140%; /* 22.4px */
          }
        }
        .form-btn {
          display: flex;
          justify-content: center;
          align-items: center;
          button {
            border: none;
            width: 40rem;
          }
        }
      }
    }
  }
  footer {
    img {
      max-width: 100%;
    }
    position: relative;
    background: #000;
    background-image: url(../img/footer-background.png);
    background-size: cover;
    background-repeat: no-repeat;
    padding: $section_padding;
    .footer-logoes {
      display: flex;
      gap: 2rem;
      align-items: center;
      margin-bottom: 3rem;
    }
    .col-title {
      color: var(--Backgrounds-Primary, #fff);
      font-size: 2rem;
      font-style: normal;
      font-weight: 800;
      line-height: normal;
      margin-bottom: 2.4rem;
    }
    .footer-col-content {
      display: flex;
      flex-direction: column;
      gap: 2.4rem;
      li {
        display: flex;
        align-items: center;
        gap: 1.2rem;
        color: var(--Backgrounds-Primary, #fff);
        font-size: 1.8rem;
        font-style: normal;
        font-weight: 600;
        line-height: normal;
        &:hover {
          opacity: 0.6;
          cursor: pointer;
        }
      }
    }
    .list-social-media {
      margin-top: 6rem;
      display: flex;
      gap: 2.4rem;
      align-items: center;
      li:hover {
        opacity: 0.6;
      }
    }
  }
}

/* Responsive */

/*Màn to(>1600px)*/
@media screen and (min-width: 1600px) {
}
/*Laptop thông thường */
@media screen and (max-width: 1400px) {
  header {
    height: auto;
    padding: 5rem 0;
  }
  header .container .slogan {
    font-size: 4rem;
  }
  header .container .header-partner {
    margin-top: 6rem;
  }
  .dxt-title-row .dxt-title {
    width: 70%;
  }
  .dxt-title {
    font-size: 2.4rem;
  }
  .dxt-title-row .dxt-primary-btn {
    width: auto;
  }
  .main #dxt_our_product .solution-content .list-btn a {
    width: auto;
  }
  .main .dxt_form_register .form-box form .title {
    font-size: 2.4rem;
  }
}
@media screen and (max-width: 1200px) {
  nav .navbar .links li a {
    font-size: 1.4rem;
  }
  .login-header .dxt-primary-btn {
    padding: 0.5rem 1rem;
    font-size: 1.6rem;
  }
  .dxt-title {
    font-size: 2rem;
  }
  .main #dxt_produce .produce-box .produce-name,
  .main #dxt_tech .tech-box .tech-name {
    font-size: 2rem;
  }
  .main #dxt_our_product .list-solution .solution-click {
    height: auto;
  }
  .main .dxt_form_register .form-box form .title {
    font-size: 2rem;
  }
  .main .dxt_form_register .form-box {
    padding: 2rem 3rem;
  }
  .main .dxt_form_register .form-box form .form-btn button {
    width: 100%;
    padding: 1rem 0;
  }
}

@media screen and (max-width: 990px) {
  header .container .slogan {
    font-size: 3rem;
  }
  header .container .header-partner .title {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  .main .dxt_form_register .form-box form .form-row {
    margin-bottom: 2rem;
    .row {
      display: flex;
      flex-direction: column;
      gap: 2rem;
    }
  }
  .main .dxt_form_register .form-box {
    border-radius: 3%;
    -webkit-border-radius: 3%;
    -moz-border-radius: 3%;
    -ms-border-radius: 3%;
    -o-border-radius: 3%;
  }
}

/*Ipad dọc(768 x 1024)*/
@media screen and (max-width: 768px) {
  header .container .slogan {
    font-size: 2rem;
    margin-bottom: 1rem;
  }
  header .container .slogan-sub {
    text-align: justify;
    font-size: 1.4rem;
  }
  header .container .list-btn {
    gap: 1rem;
    a {
      padding: 0.6rem 5%;
    }
  }
  header .container .header-partner {
    margin-top: 4rem;
  }
  .dxt-title-row {
    flex-direction: column;
    align-items: flex-start;
    gap: 1rem;
  }
  .dxt-title-row .dxt-title {
    width: 100%;
  }
  .dxt-title-row .dxt-primary-btn {
    padding: 0.6rem 5%;
  }
  .main #dxt_our_product .list-solution {
    gap: 1rem;
    align-items: stretch;
    flex-direction: column;
  }
  .main #dxt_our_product .solution-content .list-btn {
    gap: 1rem;
    margin-top: 2rem;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 600px) {
  .main {
    #dxt_produce,
    #dxt_tech,
    #dxt_our_product,
    #dxt_feedback,
    #dxt_form_register {
      padding: 2rem 0;
    }
  }
  header {
    padding: 3rem 0;
  }
  header .container .slogan-sub {
    margin-bottom: 2rem;
  }
  header .container .header-partner {
    margin-top: 2rem;
  }
  .main .dxt_form_register {
    padding: 2rem 1rem;
  }
  header .container .header-partner .list-partner {
    gap: 0;
  }
  .dxt-title {
    font-size: 1.8rem;
  }
  .dxt-title-row {
    align-items: center;
  }
  .dxt-title-row .dxt-title {
    text-align: center;
    font-size: 1.8rem;
  }
  .dxt-pin {
    width: 100%;
    text-align: center;
    padding: 0.6rem;
  }
  .main footer .footer-logoes {
    gap: 0;
    justify-content: space-around;
    margin-bottom: 2rem;
  }
  .main footer .footer-col-content li {
    font-size: 1.6rem;
  }
  .main footer .footer-col-content {
    gap: 1rem;
  }
  .main footer .col-title {
    margin-bottom: 1rem;
  }
}

/*Tablet nhỏ(480 x 640)*/
@media screen and (max-width: 480px) {
}
